#colored_element1 {
    background-color:rgb(172, 47, 95);
    color: #be3b57;
}

#colored_element2 {
    background-color: #a52a2a;
    color:aquamarine;
}

button {
    height: 40px;
    margin-bottom: 20px;
}